/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$select-color:	#bbd8ff;

.selected {
	background-color: $select-color;
	
	.item-content {
		background-color: $select-color;
	}
}

.button-icon.overlay > i {
	position: absolute;
	left: 10%;
	top: 5%;
	transform: scale(.4, .4);
	color: white;
}

.dirty, .dirty .item-content {
	background-color: #F78181;
}

.input-group .form-control {
	border: 1px solid #ccc;
	padding: 6px 12px;
}
span.input-label {
	padding: 7px 10px 7px 10px;
	width: 100px;
}


/* util.auth */

.scroll-content > .scroll {
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;	
}


/* list view */
.historyIcon {
	background: #AAAAAA;
}
.activitiIcon {
	background: #00a1e1;
}

.icon-circle{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px; 
	font-size:40px; 
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius: 50%;
	color: white;
}

/* activiti diagram zoom */
.zoom-pane {
  width: 100%;
  height: 100%;
}

.zoom-pane .scroll {
  min-height: 100%;
  /* Vertical align */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  width: 60%;
  vertical-align: middle;
}