<ion-view>
  <ion-header-bar class="item-input-inset" align-title="left">
	<button class="button button-icon button-clear ion-navicon button-stable" menu-toggle="left"></button>
	<h1 class="title" style="text-align:center">Add VM</h1>
	<button  class="button button-clear button-positive" ng-click="save()">Save</button>	        
  </ion-header-bar>
  <ion-content padding="true">
	<div class="list">
		<label class="item item-input">
	    	<span class="input-label">Name</span>
	    	<input type="text" ng-model="model.name">
		</label>
		<label class="item item-input">
	    	<span class="input-label">Type</span>
	    	<input type="text" ng-model="model.type">
		</label>
		<label class="item item-input">
	    	<span class="input-label">Port</span>
	    	<input type="text" ng-model="model.port">
		</label>
		
	</div>
  </ion-content>
</ion-view>