<ion-content >	
	<ion-list>
	
	<ion-item ng-repeat="model in collection.models">
		<pre>{{model.name}}  </pre>
		<pre ng-repeat="(key, value) in model.port">  {{key}}: {{value}} </pre>
	<ion-option-button class="button button-positive icon-left ion-minus-circled" on-tap="$event.stopPropagation(); up(model);">{{'up' | translate}}</ion-option-button>	
	<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model);">{{'delete' | translate}}</ion-option-button>		
	</ion-item>	
	
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>