<div class='item-content'>
  <img src="img/favicon.png">
  <h2>{{model.name}}</h2>
  <p>{{model.cfg()}}</p>
</div>
<ion-option-button 
  class="button-assertive icon-left ion-trash-b"
  on-tap="collection.remove(model)">
  {{'delete' | translate}}
</ion-option-button>
<ion-option-button 
  class="button-positive"
  ngf-select="model.cmd('restore', $files)">
  {{'Restore' | translate}}
</ion-option-button>
<ion-option-button 
  class="button-stable"
  on-tap="model.cmd('backup')">
  {{'Backup' | translate}}
</ion-option-button>
