<ion-header-bar class="item-input-inset">
  <button class="button button-icon button-clear ion-navicon button-stable" menu-toggle="left">
  </button>
  <h1 class='title'>
    {{'VM' | translate}}
  </h1>
</ion-header-bar>

<ion-content>
  <ion-list>
    <ion-item 
      ng-repeat="model in collection.models" 
      ng-include="'templates/vm/item.html'">
    </ion-item>
    <ion-infinite-scroll
      ng-if="collection.state.skip < collection.state.count"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
